@use 'abstracts/variables' as *;
@use 'abstracts/functions' as *;
@use 'abstracts/mixins' as *;



@use 'base/root';
@use 'base/reset';

@use 'components/button';
@use 'components/card';

body {
  
  background-color: #f5f5f5;
  color: #333;
  background: url('@/assets/images/bg.png');
}
